/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";
@import "grid";
@import "build";

* {
    @include box-sizing(border-box);
}

body {
    font-family: $roboto;
    color: #777;
    font-weight: 300;
    @include transition(padding .3s ease-in-out);
//    padding-top: 5em;

    &.header-visible {
    }
}

h1 { 
    font-size: 2.2em;
    font-weight: 100;
    margin: .3em;
    line-height: 1.6;

    &.spaced-header {
        margin: 70px 0;
    }
}

h2 {
    font-size: 1.67em;
    font-weight: 100;
    margin: .7em 0;
    color: $lightspotblue;

    i[class*="icon"] {
        padding: 0 10px 0 0;
        display: inline-block;
        color: $darkaccent;
    }
}

p, dl {
    line-height: 1.65;
    color: #696969;
    font-size: .87rem;
    margin: 15px 0;
}

dt, dd {
    display: inline;
}

dt {
    font-weight: bold;
    color: #666;
}

dt::after {
    content: ":"
}

dd::after {
    content: '\A';
    display: block;
}

header {
    display: block;
    line-height: 6em;
    z-index: 999;
    width: 100%;
    // background: #f9f9f9;
    background: #fff;
    top: 0;
    position: fixed;
    @include transition(all .3s ease-in-out);
    @include box-shadow(rgba(0, 0, 0, 0.027451) 0px 4px 0px);

    &.hidden-header {
        @include box-shadow(none);
        top: -110px;

        .button {
            bottom: -100px;
            border-color: $medspotblue;
         }
    }

    ul {
        position: relative;
    }

    #spotted-header {
        padding-left: 60px;
        background: url("../images/smallappicon.png") left center no-repeat;
        font-size: 2.1em;
        color: $lightspotblue;
        position: absolute;
        left: 00px;
        top: 0;
        font-weight: 100;
    }

    .button {
        @include border-radius(4px);
        position: relative;
        background: transparent;
        margin: 2rem 0 2rem;
        line-height: 1em;
        font-weight: 300;
        color: #bbb;
        border: 2px solid #DDDFE2;
        bottom: 3px;
        left: 10px;

        a { 
            color: #bbb;
            font-weight: 400;
            text-decoration: none;
        }

        &:hover {
            color: #bbb;
        }
    }
}

nav {
    display: inline;
    ul {
        overflow: visible !important;
        li {
            float: right;
            text-align: center;
            padding: 0 10px;
            font-size: 1em;
            color: #bbb;
            font-weight: 300;
            text-decoration: none;
            cursor: pointer;

            &.selected-tab {
//                border-bottom: 2px solid $spotblue;
                color: #333;
            }

            &:hover {
                color: #333;
            }
        }
    }
}

footer {
    margin-top: 40px !important;    
    border-top: 2px solid #eee;

    nav { 
        float: left; 
        margin-top: 50px;
    }

    nav ul {
        li {
            float: left;
            font-size: .9em;
            color: #777;
        }
    }

    .copyright { 
        float: right;
        margin-top: -20px;
    }
}

.full-background {
    width: 100%;

    &.main-splash {
        background: url("../images/app-icon-1x.png") center 100px no-repeat, $darkblue;
        height: 450px;
    }

    &.faded-color {
        background: $accentblue;
    }
}

.sexy-intro {
    color: #f9f9f9;
    line-height: 1.4;
    font-size: 2.78em;
    font-weight: 100;
    font-style: normal;
    min-height: 300px;
    text-align: center;
    padding-top: 280px;

    span.accent { color: $spotblue; }

    .js-spotted-object { border-bottom: 2px solid $spotblue; }
}

.biglogo {
    background: url("../images/app-icon-2x.png") center center no-repeat;
    // @include background-size(cover);
    display: block;
    height: 350px;
}

.iphone-mock {
    background: url("../images/screenshot.png") bottom no-repeat;
    // @include background-size(cover);
    display: block;
    height: 650px;
    position: relative;
}

section {
    padding: 70px 0;
    font-size: .9em;
    @extend .clearfix;
}

.share-what {
    padding-top: 50px;
}

.align-middle {
    padding-top: 150px;
}


ul.about-tabs {

    li {
        line-height: 2;
        font-size: 1.9em;
        font-weight: 300;
        padding-top: 6px;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        color: #666;
        text-transform: uppercase;
        cursor: pointer;
        @include transition(all .17s ease-in-out);

        &:hover {
            color: #282828;
            padding-left: 25px;
            background: #f9f9f9;
        }

        &:first-of-type {
            border-bottom: none;
        }
        &:last-of-type {
            border-top: none;
        }
    }
}

ul.help-menu {
    padding: 70px 0 40px;
    position: relative;

    &:before {
        content: "Topics";
        position: absolute;
        left: 0;
        top: 40px;
    }

    li {
        display: inline-block;
        width: 50%;
        margin: 0 -2px;
        font-size: .9em;
        line-height: 2;

        &:nth-of-type(even) {
            text-indent: 1em;
        }
        
        a {
            color: #bbb;
            cursor: pointer;
            text-decoration: none;
            &:hover {
                color: #555;
            }
        }
    }
}

.help-content {

    h3 {
        margin-top: 40px;
        margin-bottom: 1em;
    }
}

#contact [type='submit'] {
    margin: 40px 0;
}

.stripe-header {
    padding: 30px 0 40px;
    font-weight: 100;
    color: $spotblue;
}

input[type='text'], textarea {
    font-family: $roboto;
    outline: none;
    width: 100%;
    display: block;
    border: none;
    line-height: 2em;
    font-size: 1.5em;
    font-weight: 100;
    border-bottom: 1px solid #eee;
    color: #555;
    padding: 4px 10px 4px 0;
    font-weight: 100;
    margin-top: 30px;

    &:focus {
        &::-webkit-input-placeholder {
           color: #ddd;
        }

        &:-moz-placeholder { /* Firefox 18- */
           color: #ddd;  
        }

        &::-moz-placeholder {  /* Firefox 19+ */
           color: #ddd;  
        }

        &:-ms-input-placeholder {  
           color: #ddd;  
        }
    }
}

textarea {
    height: 200px;
}

button, .button, [type='submit'] {
    font-family: $roboto;
    background: $lightspotblue;
    color: #f9f9f9;
    @include border-radius(5px);
    @include transition(background .09s ease-in-out, bottom .3s ease-in-out, color .09s ease-in-out, border-color .3s ease-in-out);
    font-size: 1rem;
    font-weight: 300;
    padding: 10px 30px;
    outline: none;
    border: none;
    cursor: pointer;

    &:hover {
        background: $spotblue;
    }
    
    &.learn-more {
        margin: 30px 0 0 0;
        border: 2px solid #DDDFE2;
        color: $medspotblue;
        background: transparent;
    }

}

hr {
    display: block;
    border: 1px solid #ddd;
    border-bottom: none;
}

#team h2 {
    border-bottom: 1px solid $accentblue;
}


[class*='icon'] {
    &.pink::before { color: #EA7D94; }
    &.orange::before { color: #EAB87D }
    &.light::before { color: $spotblue; }
}

.person-blurb:nth-of-type(2n+1)  {

    p {
        text-align: right;
    }
}

.person-blurb:nth-of-type(2n) {
    float: right;
    border-left: 2px solid $accentblue;


    p { 
        text-align: left;
    }

    .person-image {
        float: right;
        margin-left: 9px;
    }
}

.person-blurb:hover {

    img { 
        filter: none;
        -webkit-filter: grayscale(0);       
    }
}

.person-image {
    @include border-radius(50%);
    @include transition(all .3s ease-in-out);
    border: 3px solid $darkblue;
    overflow: hidden;
    float: left;
    margin-right: 19px;
    filter: url(filters.svg#grayscale); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */

    &:hover, &.saturated {
        filter: none;
        -webkit-filter: grayscale(0);
    }
}

strong, .strong {
    font-weight: 400;
}

@media all and (max-width: 768px) {
    .share-what, .align-middle {
        padding-top: 0;
    }
}